<div class="collapse output-gaussian-noise-toggle-groups">
  <div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
      <div class="card card-body bg-dark text-secondary">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0 text-primary">Outputs Images</h6>
        </div>
      </div>
      <div class="mb-3"></div>
      <div class="bg-secondary">
        <div class="card card-body bg-dark text-secondary">
          <div class="row g-3">
            <div class="col-sm-12 col-xl-6">
              <div class="text-center rounded p-4">
                <div class="card card-body text-center text-muted bg-secondary">Original Image</div>
                <div class="mb-1"></div>
                <div class="card card-body bg-secondary">
                  <button class="btn btn-success btn-gaussian-noise-output-original-image-show">Show Image</button>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <div class="text-center rounded p-4">
                <div class="card card-body text-center text-muted bg-secondary">Gaussian Noise Image</div>
                <div class="mb-1"></div>
                <div class="card card-body bg-secondary">
                  <button class="btn btn-success btn-gaussian-noise-output-image-show">Show Image</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-12 col-xl-6">
              <div class="text-center rounded p-4">
                <div class="card card-body text-center text-muted bg-secondary">Download Output Image</div>
                <div class="mb-1"></div>
                <div class="card card-body bg-secondary">
                  <button class="btn btn-success btn-download-img-gaussian-noise">Download Image</button>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <div class=" text-center rounded p-4">
                <div class="card card-body text-center text-muted bg-secondary">
                  Another Test Image
                </div>
                <div class="mb-1"></div>
                <div class="card card-body bg-secondary">
                  <button class="btn btn-success btn-window-localtion-reload">Another Image</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>