<div class="collapse" id="output-thresholding-toggle-groups">
  <div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
      <div class="card card-body bg-dark text-secondary">
        <div class="d-flex align-items-center justify-content-between">
          mb-0 d-flex justify-content-start text-primary fw-normal fs-5 font-monospace
        </div>
      </div>
      <div class="mb-3"></div>
      <div class="bg-secondary">
        <div class="card card-body bg-dark text-secondary">
          <div class="row g-3">
            <div class="col-sm-12 col-xl-6">
              <div class="text-center rounded p-4">
                <div class="card card-body text-center text-muted fw-bold fs-6 font-monospace bg-secondary">
                  Original Image</div>
                <div class="mb-1"></div>
                <div class="card card-body bg-secondary">
                  <button class="btn btn-success fs-7 font-monospace  btn-thresholding-output-original-image-show">Show
                    Image</button>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <div class="text-center rounded p-4">
                <div class="card card-body text-center text-muted fw-bold fs-6 font-monospace bg-secondary">Thresholding
                  Image</div>
                <div class="mb-1"></div>
                <div class="card card-body bg-secondary">
                  <button class="btn btn-success fs-7 font-monospace  btn-thresholding-output-image-show">Show
                    Image</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-12 col-xl-6">
              <div class="text-center rounded p-4">
                <div class="card card-body text-center text-muted fw-bold fs-6 font-monospace bg-secondary">Download
                  Output Image</div>
                <div class="mb-1"></div>
                <div class="card card-body bg-secondary">
                  <button class="btn btn-success fs-7 font-monospace  btn-download-img-thresolding">Download
                    Image</button>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <div class=" text-center rounded p-4">
                <div class="card card-body text-center text-muted fw-bold fs-6 font-monospace bg-secondary">
                  Another Test Image
                </div>
                <div class="mb-1"></div>
                <div class="card card-body bg-secondary">
                  <button class="btn btn-success fs-7 font-monospace  btn-window-localtion-reload">Another
                    Image</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>