<div class="modal fade" id="edge-detection-image-modal" tabindex="-1" role="dialog"
    aria-labelledby="edge-detection-image-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-secondary" id="edge-detection-image-modalLabel">edge-detection</h5>
            </div>
            <div class="card bg-dark">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title text-danger d-flex justify-content-start">
                            File
                            <span class="text-danger"><strong> *</strong></span>
                        </h5>
                        <form id="uploadForm" enctype="multipart/form-data">
                            <input class="form-control d-flex justify-content-start border border-success" type="file"
                                name="edge-detect-input-image-file" id="edge-input-image" autocomplete="Image">
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-edge-detection-modal-close">Close</button>
                <button class="btn btn-success d-flex justify-content-start"
                    id="btn-edge-detect-input-image-submit">Upload</button>
            </div>
        </div>
    </div>
</div>