<div class="modal fade" id="laplacian-user-video-tutorial-modal" tabindex="-1" role="dialog" data-bs-backdrop="static"
    aria-labelledby="laplacian-user-video-tutorial-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary d-flex justify-content-start">{{ data['title'] }}</h5>
                <button class="btn btn-danger laplacian-user-video-tutorial-modal-close" data-dismiss="modal"
                    aria-label="Close" title="Close Video">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <iframe width="100%" height="470"
                        src="https://www.youtube.com/embed/kewse-JsjH0?si=6aF6zkWMsms5cW2h" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>