<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="{{ url_for('static',filename = 'js/app.o.js') }}"></script> -->
<script src="{{ url_for('static',filename = 'js/histogram.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/gamma_correction.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/contrast_strching.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/spatial_filtering.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/cluster.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/edge_detection.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/thresholding.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/deblur.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/in_paint.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/noise_reduction.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/main.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/Constrained_least_square_filtering.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/order_statics.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/harmonic_filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/geometric_mean.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/Gaussian_Noise.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/Medial_Filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/Salt_and_papper_noise.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/Weiner.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/adaptive_filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/Average_filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/butterworth_filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/high_pass_filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/Homomorphic.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/laplacian_filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/low_pass_filters.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/non_local_means_filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/notch_filter.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/unsharp_masking.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/app.js') }}"></script>
<!-- <script src="{{ url_for('static',filename = 'js/bootstrap.min.js ') }}"></script> -->