<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="{{ url_for('static',filename = 'js/main.js') }}"></script> -->
<script src="{{ url_for('static',filename = 'js/enhancement/histogram.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/enhancement/gamma_correction.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/enhancement/contrast_strching.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/enhancement/spatial_filtering.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/segmantation/cluster.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/segmantation/edge_detection.js') }}"></script>