<div class="sidebar">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="/home" class="navbar-brand mx-4 mb-3 w-100">
            IP</h3>
        </a>
        <div class="navbar-nav w-100">
            <a href="#" class="nav-item nav-link text-danger sidebar-title-digital-image-fundamentals"><i
                    class="fa-regular fa-image me-2"></i>Fundamentals
            </a>
            <div class="mb-1"></div>
            <ul class="collapse sidebar-collapse-content-digital-image-fundamentals">
                <a class="nav-link" href="/enhancement/Histogram_Equalization">Histogram Equalization</a>
                <a class="nav-link" href="/filters2/unsharp_mask_filters">UnSharp Mask Filter</a>
                <a class="nav-link" href="/filter1/Gaussian_Noise">Gaussian Noise</a>
                <a class="nav-link" href="/filter1/median_Filter">Median Filter</a>
            </ul>
        </div>
        <div class="navbar-nav w-100">
            <a href="#" class="nav-item nav-link text-danger sidebar-title-image-enhancement-restoration"><i
                    class="fa-regular fa-image me-2"></i>Enhancement
            </a>
            <div class="mb-1"></div>
            <ul class="collapse sidebar-collapse-content-image-enhancement-restoration">
                <a class="nav-link" href="/filters2/laplacian_filter">Laplacian Filter</a>
                <a class="nav-link" href="/filters2/adaptive_filter">Adaptive Filter</a>
                <a class="nav-link" href="/filter1/Constrained_least_square_filtering">Constraint Least SquareFilter</a>
                <a class="nav-link" href="/filters2/butterworth_filter">Butter Worth Filter</a>
            </ul>
        </div>
        <div class="navbar-nav w-100">
            <a href="#" class="nav-item nav-link text-danger sidebar-title-image-segmentation-description"><i
                    class="fa-regular fa-image me-2"></i>
                Segmentation
            </a>
            <div class="mb-1"></div>
            <ul class="collapse sidebar-collapse-content-image-segmentation-description">
                <a class="nav-link" href="/restoring/deblur">Deblur technique</a>
                <a class="nav-link" href="/restoring/in_paint">InPait technique</a>
                <a class="nav-link" href="/restoring/noise_reduction">Noise Reduction</a>
                <a class="nav-link" href="/segmentation/Clustering">Clustering</a>
                <a class="nav-link" href="/segmentation/Edge_detection">Edge Detection</a>
                <a class="nav-link" href="/segmentation/Thresholding">Thresholding</a>
                <a class="nav-link" href="/enhancement/Gamma_correction">Gamma_correction</a>
                <a class="nav-link" href="/enhancement/Contrast_Stretching">Contrast Stretching</a>
                <a class="nav-link" href="/enhancement/Spatial_filtering">Spatial Filtering</a>
                <a class="nav-link" href="/segmentation/Clustering">Clustering</a>
                <a class="nav-link" href="/filter1/Order_statistics_filters">Order Statistics Filter</a>
                <a class="nav-link" href="/filter1/Hormonic_Filter">Hormonic Filter</a>
                <a class="nav-link" href="/filter1/geometric_mean">Geometric Filter</a>
                <a class="nav-link" href="/filter1/Salt_and_papper_noise">Salt and Papper Noise</a>
                <a class="nav-link" href="/filters2/average_filter">Average Filter</a>
                <a class="nav-link" href="/filters2/weiner_filter">Weiner Filter</a>
                <a class="nav-link" href="/filters2/homomorphic_filters">Hormonic Filter</a>
                <a class="nav-link" href="/filters2/notch_filter">Notch Filter</a>
                <a class="nav-link" href="/filters2/non_local_means_filter">Non Local Mean Filter</a>
                <a class="nav-link" href="/filters2/low_pass_filter">Low Pass Filter</a>
                <a class="nav-link" href="/filters2/high_pass_filter">High Pass Filter</a>
            </ul>
        </div>
        <div class="navbar-nav w-100">
            <a href="#" class="nav-item nav-link text-danger sidebar-title-image-compression"><i
                    class="fa-regular fa-image me-2"></i>Compression
            </a>
            <div class="mb-1"></div>
            <ul class="collapse sidebar-collapse-content-image-compression">
                <!-- Content -->
                <a class="nav-link" href="/filters3/region_growing">Region Growing</a>
                <a class="nav-link" href="/filters3/descrete_forier_trasnform">DFT</a>
                <a class="nav-link" href="/filters3/region_merging">Region merging</a>
                <a class="nav-link" href="/filters3/erosion">Erosion</a>
                <a class="nav-link" href="/filters3/dilation">Dilation</a>
            </ul>
        </div>
        <div class="navbar-nav w-100">
            <a href="#" class="nav-item nav-link text-danger sidebar-title-image-restoration"><i
                    class="fa-regular fa-image me-2"></i>Restoration
            </a>
            <div class="mb-1"></div>
            <ul class="collapse sidebar-collapse-content-image-restoration">
                <!-- Content -->
                <a class="nav-link" href="/filters3/runLengthCoding">Run Length Encode</a>
                <a class="nav-link" href="/filters3/hough_trasform">Hough Transform</a>
                <a class="nav-link" href="/filters3/vectorQuantization">Vector Quantization</a>
                <a class="nav-link" href="/filters3/hierarichal_image">Hierarichal Image</a>
            </ul>
        </div>
    </nav>
</div>
