<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>IP</h3>
        </a>

        <div class="navbar-nav w-100">
            <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-laptop me-2"></i>Enhancement</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/enhancement/Histogram_Equalization" class="dropdown-item">Histogram Equalization</a>
                    <a href="/enhancement/Gamma_correction" class="dropdown-item">Gamma_correction</a>
                    <a href="/enhancement/Contrast_Stretching" class="dropdown-item">Contrast Stretching</a>
                    <a href="/enhancement/Spatial_filtering" class="dropdown-item">Spatial Filtering</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-laptop me-2"></i>Segmentation</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/segmentation/Clustering" class="dropdown-item">Clustering</a>
                    <a href="/segmentation/Edge_detection" class="dropdown-item">Edge Detection</a>
                    <a href="/segmentation/Region_growing" class="dropdown-item">Region Growing</a>
                    <a href="/segmentation/Thresholding" class="dropdown-item">Thresholding</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-laptop me-2"></i>Resotoration</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/restoring/deblur" class="dropdown-item">Debluring technique</a>
                    <a href="/restoring/in_paint" class="dropdown-item">InPait technique</a>
                    <a href="/restoring/noise_reduction" class="dropdown-item">Noise Reduction</a>
                </div>
            </div>
        </div>
    </nav>
</div>