{% extends '__master.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="text-primary">{{ data.title }}</h4>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0 text-primary">Definition</h6>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <p class="text-muted text-left">
                    {{ data.def }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="bg-secondary">

            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 text-primary"> {{ workflowtitle }}</h6>
                </div>
            </div>
            <div class="mb-3"></div>
            {% for workflow in workflows %}
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">{{ workflow['title'] }}</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="text-muted text-left">
                    {{ workflow['description'] }}
                </p>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded p-4">
        <div class="card bg-dark text-secondary">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-primary font-weight-bold toast-clipboard-msg">Code Snippet</div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-sm btn-change-background-theme btn-primary me-2"
                            title="Change Background"><i class="bi bi-brightness-high"></i>
                        </button>
                        <button class="btn btn-sm btn-primary btn-copy-content-code me-2" title="Copy to Clipboard">
                            <div class="change-icon-clipboard-icon">
                                <i class="bi bi-clipboard"></i>
                            </div>
                        </button>
                        <div class="dropdown me-2">
                            <button class="btn btn-primary dropdown-toggle btn-primary" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Language
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item btn btn-primary"
                                        id="dropdown-contrast-strching-python-code">Python</a>
                                </li>
                                <li><a class="dropdown-item btn btn-primary"
                                        id="dropdown-contrast-strching-matlab-script-code">MatLab</a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-sm btn-primary btn-user-guide-modal me-2" title="User Guide"><i
                                class="bi bi-laptop"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card bg-primary">
            <div class="card bg-dark" id="code-block">
                <div class="container" id="contrast-stretched-python-code">
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start"><span># Import Required Library</span>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>import cv2</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>import numpy as np</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>import matplotlib.pyplot as plt</code>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col col-12 d-flex justify-content-start"><span># Read the image </span></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>image = cv2.imread('path_to_your_image.jpg', 0)                       </code>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col col-12 d-flex justify-content-start"><span># Define the minimum and maximum
                            intensity values after stretching</span>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>min_intensity = 50  # Adjust as needed
                            </code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>max_intensity = 200  # Adjust as needed
                            </code>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col col-12 d-flex justify-content-start"><span>
                            # Apply contrast stretching
                        </span>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>stretched_image = np.copy(image)</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>stretched_image[image < min_intensity] = min_intensity</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>stretched_image[image > max_intensity] = max_intensity
                            </code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>stretched_image = cv2.normalize(stretched_image, None, 0, 255, cv2.NORM_MINMAX)
                            </code>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col col-12 d-flex justify-content-start"><span>
                            # Display the original and contrast-stretched images
                        </span>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>plt.figure(figsize=(10, 5))</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>plt.subplot(1, 2, 1), plt.imshow(image, cmap='gray'), plt.title('Original Image')</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>plt.subplot(1, 2, 2), plt.imshow(stretched_image, cmap='gray'), plt.title('Contrast-Stretched Image')
                            </code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>plt.show()
                            </code>
                    </div>
                </div>
                <div class="mb-1"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0 text-primary">Live Demo</h6>
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    The following code will take a live image feed from your machine and apply Contrast Striching to
                    it, then display both original frame as well as its
                </p>
            </div>
        </div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success btn-sm  btn-load-img-contrast-strching">Lets Start Live
                        Demo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-content"></div>
<div class="contrast-strching-image-collapse"></div>
<br>

{% endblock content %}