{% extends '__master.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body">
            <h6 class=" d-flex justify-content-center">Welcome to our Website</h6>
        </div>
    </div>
</div>
<div class="mb-0"></div>
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body">
            <h6>Welcome to our cutting-edge Images Filters and Enhancement Techniques App!</h6>
        </div>
    </div>
</div>
<div class="mb-0"></div>
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body">
            <h6>📸 Unleash Your Creativity 🎨</h6>
        </div>
    </div>
</div>
<div class="mb-0"></div>
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body d-flex justify-content-center">
            <h6>Are you ready to take your photos to the next level? Our app is your ultimate tool
                for transforming ordinary pictures into extraordinary works of art. With a wide range of filters and
                enhancement techniques at your fingertips, your images are about to get a stunning makeover.</h6>
        </div>
    </div>
</div>
<div class="mb-0"></div>
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body text-muted">
            <h5>🌟 Key Features 🌟</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🎨 Filters Galore: Explore a vast collection of filters, each
                designed to give your photos a unique and
                captivating look. From vintage vibes to modern aesthetics, we've got it all.</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✨ Enhance Your Photos: Make your images pop with powerful enhancement
                tools. Adjust brightness,
                contrast, sharpness, and more to achieve the perfect balance.</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🌈 Color Magic: Play with colors like never before. Adjust
                saturation, hue, and color balance to create
                eye-catching visuals.</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🔍 Detail Control: Fine-tune every aspect of your photos with
                precision. Our app lets you zoom in on
                details and make pixel-perfect adjustments.</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;📱 User-Friendly Interface: Our intuitive design ensures that both
                beginners and experts can navigate
                with ease. No complicated menus or steep learning curves here!</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;📂 Save and Share: Once you've perfected your image, save it in high
                resolution and share it with
                friends and followers on your favorite social media platforms.</p>
        </div>
    </div>
</div>
<div class="mb-0"></div>
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body">
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-6 d-flex justify-content-center">
                    <a href="/home" class="btn btn-success btn-sm">Live Dive Into our APP</a>
                </div>
                <div class="col col-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="mb-0"></div>
<br>

<div class="user-tutorial-video-content"></div>
{% endblock content %}