{% extends '__master.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="text-primary">Edge detection Technique</h4>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0 text-primary">Definition</h6>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">

                    Edge detection is a fundamental technique in image processing that is used to identify the
                    boundaries of objects within an image. It works by highlighting abrupt changes in pixel intensity,
                    which often correspond to edges in the image. There are several algorithms for edge detection, with
                    the Canny edge detector being one of the most widely used.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="bg-secondary">

            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 text-primary">Brief overview of how Edge Detection works</h6>
                </div>
            </div>
            <div class="mb-3"></div>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">1. Canny Edge Detector</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    A widely-used algorithm that finds edges by looking for areas of rapid change in intensity.
                </p>
            </div>
            <br>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">2. Sobel Operator</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    Uses convolution to compute the gradient of the image, highlighting areas of rapid intensity change.
                </p>
            </div>
            <br>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">3. Prewitt Operator</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    Similar to Sobel, used for gradient computation.
                </p>
            </div>
            <br>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">4. Laplacian of Gaussian (LoG)</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    Applies Gaussian smoothing followed by the Laplacian operator to detect edges. </p>
            </div>
            <br>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">5. Zero Crossing Detector</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    Identifies zero crossings in the second derivative of the image to find edges. </p>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0 text-primary">Code</h6>
            </div>
        </div>
        <br>
        <div class="card bg-primary">
            <div class="card-header bg-secondary d-flex justify-content-start">
                Python Code
            </div>
            <div class="card bg-dark">
                <div class="container">
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start"><span># Import Cv2 Library</span></div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start"><code>import cv2</code></div>
                    <div class="col col-12 d-flex justify-content-start"><code>import numpy as np</code></div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span># Load the image</span></div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>image = cv2.imread('input_image.jpg')</code>
                    </div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span># Apply Canny edge detection</span>
                    </div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>edges = cv2.Canny(image, threshold1, threshold2)</code>
                    </div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span># Save the image
                        </span>
                    </div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>cv2.imwrite('edge_detected_image.jpg', edges)</code>
                    </div>
                    <div class="mb-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0 text-primary">Live Demo</h6>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    The following code will take a live image feed from your machine and apply Edge Detection to
                    it, then display both original frame as well as its
                </p>
            </div>
        </div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success btn-sm  btn-load-img-edge-detection">Lets Start Live Demo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-content"></div>
<div class="edge-container-alert"></div>
<div class="edge-input-image-collapse"></div>
<div class="edge-detect-image-collapse"></div>
<br>

{% endblock content %}