{% extends '__master.html' %}

{% block content %}
<br>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="bg-secondary">
            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 text-primary">tittle</h6>
                </div>
            </div>
            <div class="mb-3"></div>
            <div class="card card-body bg-dark text-secondary">
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Debluring technique</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/restoring/deblur"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>InPait technique</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/restoring/in_paint"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Noise Reduction</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/restoring/noise_reduction"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Clustering</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/segmentation/Clustering"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Edge Detection</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/segmentation/Edge_detection"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Thresholding</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/segmentation/Thresholding"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Histogram Equalization</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/enhancement/Histogram_Equalization"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Gamma_correction</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/enhancement/Gamma_correction"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Contrast Stretching</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/enhancement/Contrast_Stretching"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Spatial Filtering</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/enhancement/Spatial_filtering"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Constrained least square filtering</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filter1/Constrained_least_square_filtering"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Order Statistics Filters</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filter1/Order_statistics_filters"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Hormonic Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filter1/Hormonic_Filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Geometric Mean</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filter1/geometric_mean"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Median Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filter1/median_Filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Salt and Papper Noise</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filter1/Salt_and_papper_noise"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Gaussian Noise</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filter1/Gaussian_Noise"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Average Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/average_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Weiner Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/weiner_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Butter Worth Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/butterworth_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Homomarphic Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/homomorphic_filters"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Notch Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/notch_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Adaptive Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/adaptive_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Non Local Means Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/non_local_means_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Un sharp Masking</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/unsharp_mask_filters"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Low Pass Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/low_pass_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>High Pass Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/high_pass_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Laplacian Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/laplacian_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Median Filter</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters2/median_filter"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Hello World</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="" class="btn btn-success col-12 ">Click
                                here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <hr>
                <!-- TODO: -->
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>DFT</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/descrete_forier_trasnform"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Dilation</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/dilation"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Erosion</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/erosion"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Hierarichal Image</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/hierarichal_image"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Hough Transform</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/hough_trasform"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Huffmen Coding</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/huffmencoding"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Region Growing</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/region_growing"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Region Merging</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/region_merging"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Run Length Coding</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/runLengthCoding"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                <div class="mb-5"></div>
                <div class="row">
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Vector Quantization</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/vectorQuantization"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>Region Merging</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/region_merging"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="col mx-2">
                        <div class="card card-body bg-secondary">
                            <h6>WaveLet</h6>
                        </div>
                        <div class="mb-1"></div>
                        <div class="card card-body bg-secondary"><a href="/filters3/wavelet"
                                class="btn btn-success col-12 ">Click here</a></div>
                    </div>
                    <div class="mb-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}