{% extends '__master.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="text-primary fw-bold fs-5 font-monospace">{{ data.title }}</h4>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="text-primary fw-normal fs-5 font-monospace mb-0">Definition</h6>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <p class="text-muted text-center fs-6 fw-normal font-monospace">
                    {{ data.def }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="bg-secondary">

            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="text-primary fw-normal fs-5 font-monospace"> {{ workflowtitle }}</h6>
                </div>
            </div>
            <div class="mb-3"></div>
            {% for workflow in workflows %}
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start text-primary fw-normal fs-6 font-monospace">{{
                    workflow['title'] }}</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="text-muted text-center fs-6 fw-normal font-monospace">
                    {{ workflow['description'] }}
                </p>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
<div class="-user-video">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 d-flex justify-content-start text-primary fw-normal fs-5 font-monospace">Tutorial
                        Video(youtube)</h6>
                </div>
            </div>
            <div class="mb-2"></div>
            <div class="bg-secondary ">
                <div class="card card-body bg-dark text-secondary">
                    <p class="text-muted text-center fs-6 fw-normal font-monospace">
                        The following page will take a live video tutorial.Video Tutorial Helps to improve the
                        Understanding of the perticular image processing algorithms
                    </p>
                    <div class="mb-2"></div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success btn-sm btn-load-video-tutorial-">Let's Start the Video
                            Tutorials</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded p-4">
        <div class="card bg-dark text-secondary">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-primary font-weight-bold fs-5">Code Snippet</div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-sm btn-change-background-theme btn-primary me-2"
                            title="Change Background"><i class="bi bi-brightness-high"></i>
                        </button>
                        <button class="btn btn-sm btn-primary btn-copy-content-code me-2" title="Copy to Clipboard">
                            <div class="change-icon-clipboard-icon">
                                <i class="bi bi-clipboard"></i>
                            </div>
                        </button>
                        <div class="dropdown me-2">
                            <button class="btn btn-primary dropdown-toggle btn-primary" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Language
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item btn btn-primary"
                                        id="dropdown-non-local-mean-filter-python-code">Python</a>
                                </li>
                                <li><a class="dropdown-item btn btn-primary"
                                        id="dropdown-non-local-mean-filter-matlab-script-code">MatLab</a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-sm btn-primary btn-user-guide-modal me-2" title="User Guide"><i
                                class="bi bi-laptop"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card bg-primary">
            <div class="card bg-dark" id="code-block">
                <div class="container" id="non-local-mean-filter-python-code">
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start"><span
                            class="text-muted text-center fs-6 fw-normal font-monospace"># Import Required
                            Library</span>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>import cv2</code>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col col-12 d-flex justify-content-start"><span
                            class="text-muted text-center fs-6 fw-normal font-monospace"># Load the Input Image</span>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>image = cv2.imread('path_to_your_image.jpg', 0)</code>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col col-12 d-flex justify-content-start"><span
                            class="text-muted text-center fs-6 fw-normal font-monospace"># Apply Non-Local Means
                            Denoising</span>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>filtered_image = cv2.fastNlMeansDenoising(image, None, h=3, hForColor=3, templateWindowSize=7, searchWindowSize=21)
                        </code>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col col-12 d-flex justify-content-start"><span
                            class="text-muted text-center fs-6 fw-normal font-monospace">
                            # Display the original and denoised images
                        </span>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>cv2.imshow('Original Image', image)</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>cv2.imshow('NLM Filtered Image', filtered_image)</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>cv2.waitKey(0)</code>
                    </div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>cv2.destroyAllWindows()</code>
                    </div>
                </div>
                <div class="mb-1"></div>
            </div>
        </div>
    </div>
</div>
<div class="non-local-mean-filter-user-image">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 d-flex justify-content-start text-primary fw-normal fs-5 font-monospace">Live Demo
                    </h6>
                </div>
            </div>
            <div class="mb-3"></div>
            <div class="bg-secondary ">
                <div class="card card-body bg-dark text-secondary">
                    <p class="text-muted text-center fs-6 fw-normal font-monospace">
                        The following code will take a live image feed from your machine and apply Non Local Mean Filter
                        to
                        it, then display both original frame as well as its
                    </p>
                    <div class="mb-2"></div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success btn-sm btn-load-img-non-local-filter">Let's Start Live
                            Demo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-content"></div>
<div class="non-local-mean-input-image-collapse"></div>
<br>
<div class="user-tutorial-video-content"></div>
{% endblock content %}