{% extends '__master.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="text-primary">Region detection</h4>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0 text-primary">Definition</h6>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    Region detection, also known as image segmentation, is a crucial step in image processing that
                    involves partitioning an image into different regions or segments, with each region representing a
                    meaningful part of the image. This can be useful for various applications like object recognition,
                    image analysis, and computer vision tasks.

                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="bg-secondary">

            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 text-primary">Brief overview of how Gamma correction works</h6>
                </div>
            </div>
            <div class="mb-3"></div>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">1. Import Necessary Libraries:</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    Begin by importing the libraries you'll need. You will primarily use OpenCV and NumPy for this task.
                </p>
            </div>

            <br>

            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">2. Load the Image:</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    Load the image that you want to perform region detection on using cv2.imread(). </p>
            </div>

            <br>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">3. Preprocess the Image (Optional):</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    Depending on the quality of your input image and the specific segmentation algorithm you plan to
                    use, you might need to preprocess the image. Common preprocessing steps include noise reduction,
                    smoothing, and adjusting the image's color space.</p>
            </div>
            <br>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">4. Perform Region Detection</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    There are various algorithms for image segmentation. One commonly used method is the Watershed
                    algorithm, which can be applied to grayscale images. Here's an example of applying the Watershed
                    algorithm:</p>
            </div>
            <br>
            <div class="card card-body bg-dark text-secondary">
                <h6 class="mb-0 d-flex justify-content-start">5. Save or Display the Region-Detected Image:</h6>
            </div>
            <div class="mb-1"></div>
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    You can save the segmented image to a file or display it using OpenCV</p>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0 text-primary">Code</h6>
            </div>
        </div>
        <br>
        <div class="card bg-primary">
            <div class="card-header bg-secondary d-flex justify-content-start">
                Python Code
            </div>
            <div class="card bg-dark">
                <div class="container">
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start"><span># Import Cv2 Library</span></div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start"><code>import cv2</code></div>
                    <div class="col col-12 d-flex justify-content-start"><code>import numpy as np</code></div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span># Load the image</span></div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>image = cv2.imread('input_image.jpg')</code>
                    </div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span># Example: Convert to grayscale for
                            simplicity</span>
                    </div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>gray_image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)</code>
                    </div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span># Apply Watershed algorithm</span></div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>markers = np.zeros_like(gray_image)
                        </code>
                    </div>
                    <div class="mb-1"></div>
                    <div class="row">
                        <div class="col col-6 d-flex justify-content-start">
                            <code>markers[gray_image < threshold] = 1
                            </code>
                        </div>
                        <div class="col col-6 d-flex justify-content-start">
                            <span># Set markers for background</span>
                        </div>
                    </div>
                    <div class="mb-1"></div>
                    <div class="row">
                        <div class="col col-6 d-flex justify-content-start">
                            <code>markers[gray_image > threshold] = 2 
                            </code>
                        </div>
                        <div class="col col-6 d-flex justify-content-start">
                            <span># Set markers for foreground</span>
                        </div>
                    </div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span># Apply the Watershed transformation
                        </span>
                    </div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>markers = cv2.watershed(image, markers)</code>
                    </div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span># Color the segmented regions
                        </span>
                    </div>
                    <div class="mb-1"></div>
                    <div class="row">
                        <div class="col col-6 d-flex justify-content-start">
                            <code>image[markers == -1] = [0, 0, 255]  
                            </code>
                        </div>
                        <div class="col col-6 d-flex justify-content-start">
                            <span>
                                # Outline the regions
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="col col-12 d-flex justify-content-start"><span>Save or Display the Region-Detected Image
                        </span>
                    </div>
                    <div class="mb-1"></div>
                    <div class="col col-12 d-flex justify-content-start">
                        <code>cv2.imwrite('segmented_image.jpg', image)</code>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="card card-body bg-dark text-secondary">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0 text-primary">Live Demo</h6>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <p class="lead text-muted text-left">
                    The following code will take a live image feed from your machine and apply Region detection to
                    it, then display both original frame as well as its
                </p>
            </div>
        </div>
        <div class="bg-secondary ">
            <div class="card card-body bg-dark text-secondary">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success btn-load-img-region-detection">Load Image</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="region-container-alert"></div>
<div class="region-input-image-collapse"></div>
<div class="gregion-image-collapse"></div>

<br>

{% endblock content %}