{% extends '__master.html' %}

{% block content %}


<!-- Button to trigger the alert -->
<button id="showAlertBtn" class="btn btn-primary">Show Alert</button>

<!-- JavaScript using jQuery to show Bootstrap alert -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#showAlertBtn").on("click", function () {
            // Create a new alert element
            var alertDiv = $("<div></div>")
                .addClass("alert alert-success")
                .attr("role", "alert")
                .text("This is a Bootstrap alert!");

            // Add the alert to the page
            $("body").append(alertDiv);

            // Use setTimeout to append additional data after 3 seconds
            setTimeout(function () {
                var additionalData = $("<p></p>").text("Additional data after time finished.");
                alertDiv.append(additionalData);
            }, 3000);
        });
    });
</script>

<!-- Bootstrap JS (jQuery is required for some components) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



{% endblock content %}